@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Clash Display", sans-serif;
}
.custom-dashed-border {
  border-style: dashed;
  border-width: 1px; /* Adjust as needed */
  border-color: gray; /* Replace with desired color */
  border-radius: 0.5rem; /* Optional, for rounded edges */
  /* Adjust the dash length and gap */
  border-image: linear-gradient(to right, gray 33%, rgba(255, 255, 255, 0) 33%)
    5;
}
